/* Stacked Cards component css */
body {
  overflow-x: hidden;
  font-family: "Open Sans";
  font-size: 12px;
  background: #BFC7D0;
  padding: 10%;
}

#classes-numbers
{
    text-align: center;
    width: 100%;
    display: block;
    z-index: 1000000000;
    position: absolute;
    left: 0px;
    top: 5%;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    pointer-events: none;
    touch-action: none;
}

#stacked-cards-block > span
{
    text-align: center;
    width: 100%;
    display: block;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10rem;
    color: black;
}

.stackedcards .stackedcards-container > :nth-child(1)
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.stackedcards-container
{
    height: 100%;
    width: 100%;
}
#stacked-cards-block
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: calc(100% - (150px + 10px))
}

.no-transition {
  -webkit-transition: none ! important;
  -o-transition: none ! important;
  transition: none ! important;
}

.stackedcards-overflow {
    overflow-y: hidden !important;
}

.stackedcards.init {
    opacity: 0;/* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
    position: relative;
}

.stackedcards * {
    -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
         user-select: none;
}

.stackedcards--animatable {
    -webkit-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
    position: absolute;
    width: 100%; /* set 100% */
    height: 300px; /* set 100% */
    will-change: transform, opacity;
    top: 0;
    border-radius: 10px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    opacity: 0;
    top: 0;
    height: 100%;
    font-size: 24px; /* this style was added only for better preview */
    text-transform: uppercase; /* this style was added only for better preview */
    font-weight: 500; /* this style was added only for better preview */
    color: #fff; /* this style was added only for better preview */
}

.stackedcards-overlay.top {
    background: #E38568;
}

.stackedcards-overlay.right {
    background: #7BB3C5;
}

.stackedcards-overlay.left {
    background: #E58D93;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
    display: none;
}

.stackedcards-origin-bottom {
    -webkit-transform-origin: bottom;
            -ms-transform-origin: bottom;
        transform-origin: bottom;
}

.stackedcards-origin-top {
    -webkit-transform-origin: top;
            -ms-transform-origin: top;
        transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
    background: transparent; /* set card background background */
    height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
    transform:scale(0.75);
    position: relative;
    display: block;
}

/* global actions buttons*/
.global-actions {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.top-action,
.right-action,
.left-action {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-action {
    background: #E38568;
    margin: 0 10px; 
}

.right-action { background: #7BB3C5; }
.left-action { background: #E58D93; }

/* elements on stacked cards */
.card-item { background: #FFFFFF; }